<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">productid</li>
                          <li class="list-group-item">productname</li>
                          <li class="list-group-item">manufacture</li>
                          <li class="list-group-item">expiry</li>
                          <li class="list-group-item">brand</li>
                          <li class="list-group-item">price</li>
                          <li class="list-group-item">seller</li>
                          <li class="list-group-item">distributor</li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
